.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/
data/

*.pyc
*.p
*.pkl 
*.hdf5
*.gz

*/.floyd*
*/data/
*/checkpoints/
*/MNIST_data/
*/bottleneck_features

transfer-learning/checkpoints/
transfer-learning/flower_photos/
transfer-learning/tensorflow_vgg/
transfer-learning/flower_photos.tar.gz
transfer-learning/codes

